@tailwind base;
@tailwind components;
@tailwind utilities;

.landing-background {
  position: absolute;
  background: rgb(196, 161, 161);
  height: 600px;
  width: 100%;
  margin-top: -6.5rem;
  clip-path: polygon(100% 0%, 0% 95%, 0% 0%);
  z-index: -1;
}

.landing-circle {
  background: blueviolet;
  height: 14rem;
  width: 14rem;
  border-radius: 50%;
  margin-left: 80%;
}
